{% extends 'feed_base.html' %}
{% block head %}
    <title>Your Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/your_post_style.css') }}">
    <script src="{{ url_for('static', filename='js/your_post.js') }}"></script>
{% endblock %}

{% block body %}
<nav>
  <div class="nav-left">
    <a href="/feed">Home</a>
    <!-- Other left-side items can go here -->
  </div>
  <div class="nav-right">
    <!-- Dropdown trigger -->
    <!-- will be filled by script  -->
    </div>
  </div>
</nav>

<!-- Page content --> 
<div class="container">
  {% for post in posts %}
      {% include 'single_post.html' %}
  {% endfor %}
</div>
<div id="user-data" data-username="{{ username }}" style="display: none;"></div>

{% endblock %}
